.texto0{
    text-align: center;
}

.texto1{
    text-align: center;
}

.texto2{
    text-align: center;
}

.texto3{
    text-align: center;
}

.texto4{
    text-align: center;
}

.body{
    background-color: bisque;
    color:black;
}

.Brasil{
    text-align: center;
    
}